@charset "UTF-8";

#wrap {
	width: 1200px;
	margin:auto;
}

header > .logo {
	height: 100px;
}

header > .search {
	height: 100px;
}

nav {
	height: 50px;
}

section {
	height: 600px;
}

section > .singer {
	height: 200px;
}

section > .song {
	height: 400px;
}


footer {
	height: 50px;
}